[global]
username = ellenostberg
password = test1234
backend = pipe
mixer = PCM
volume-control = alsa # or alsa_linear, or softvol
#onevent = command_run_on_playback_event
onevent = "echo foobar"
device = /tmp/spotify 
device_name = musicdaemon # Cannot contain spaces
bitrate = 320
cache_path = /tmp/spotify.cache
volume-normalisation = false
